<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ExtAspNet" type="ExtAspNet.ConfigSection, ExtAspNet" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="ConnStr" connectionString="data source=.;uid=sa;pwd=sa;initial catalog=kehu;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages>
      <controls>
        <add assembly="ExtAspNet" namespace="ExtAspNet" tagPrefix="ext"/>
      </controls>
    </pages>
  </system.web>
</configuration>